<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!--System Setting-->
    <add key="ProjectTitle" value="Verification system for reliability of the connection the corporate network and services."/>
    <add key="ProjectEnvironment" value=""/>
    <add key="SimulateUserName" value=""/>
    <add key="EnableCustomError" value="false"/>
    <!--Limit Size configuration-->
    <add key="FI.YearOfData.NumberOfYearToDisplay" value="5"/>
    <add key="SA.ASOFDATE.NumberOfDateToDisplay" value="10"/>
    <add key="GridView.PageSize.S" value="5"/>
    <add key="GridView.PageSize.M" value="10"/>
    <add key="GridView.PageSize.L" value="15"/>
    
  </appSettings>
    <system.web>
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
      <siteMap defaultProvider="WebSiteMap">
        <providers>
          <add name="WebSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/web.sitemap"/>
        </providers>
      </siteMap>
    </system.web>
  <connectionStrings>
    <add name="VRNSEntities" connectionString="metadata=res://*/VRNS.csdl|res://*/VRNS.ssdl|res://*/VRNS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=VRNS;persist security info=True;user id=sa;password=1234;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
  </connectionStrings>
</configuration>
